{% assign profile = site.data.data.profile %}
{% if profile %}
<section class="career-profile">
    <h2 class="title">PROFİL</h2>
    <div class="details">
        {% for exp in profile %}
            <p class="experience-item">{{exp.key}} : {{exp.value}} </p>
        {% endfor %}
    </div>
</section>
{% endif %}