{% assign education = site.data.data.education %}
{% if education %}
<section class="education">
    <div class="title">EĞİTİM BİLGİLERİ</div>
    {% for ed in education %}
        <div class="education-item">
            <div class="degree">{{ed.degree}}</div>
            <div class="university">{{ed.university}}</div> 
            <div class="time">{{ed.time}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
