{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">İŞ DENEYİMİ</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">
                <ul style="list-style-type:circle">
                    {% for exp_details in exp.details %}                   
                        <li>{{exp_details}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       
    {% endfor %}
</section>
{% endif %}