<div class="header">
    <img
      style="vertical-align: middle; width: 150px; height: 150px; border-radius: 50%;"
      src="{{'/assets/image/avatar.png' | absolute_url}}"
      alt="Avatar"
      class="avatar"
      >
    <span>
      <h1 class="title">{{site.data.data.name}}</h1> 
      <h6 class="title">{{site.data.data.job_title}}</h6>
    </span>
    {% if site.data.data.support_dark_mode%}
      <input type="checkbox" id="switch" name="mode" class="toggle-dark"></input>
      <label for="switch"><i id="moon" data-feather="moon" fill="var(--fg-color)"></i></label>
    {%endif%}
  </div>
