{% assign internship = site.data.data.internship %}
{% if internship %}
<section class="intership">
    <h2 class="title">STAJ DENEYİMİ</h2>
    {% for intern in internship %}
        <div class="intership-item">
            <div class="role">
                {{intern.role}}
            </div>
            <div class="company">
                {{intern.company}} 
                <span class="time">{{intern.time}}</span>
            </div> 
            <div class="details">
                <ul style="list-style-type:circle">
                    {% for intern_details in intern.details %}                   
                        <li>{{intern_details}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       
    {% endfor %}
</section>
{% endif %}