{% assign languages = site.data.data.languages %}
{% if languages %}
<section class="languages">
    <div class="title">YABANCI DİL</div>
    {% for lang in languages %}
        <div class="idiom">{{lang.idiom}}</div>
    {% endfor %}
</section>
{% endif %}