{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="experience">
    <h2 class="title">PROJELER</h2>
    {% for exp in projects %}
        <div class="experience-item">
            <div class="company">
                {{exp.title}}
            </div> 
            <div class="details">
                <ul style="list-style-type:circle">
                    {% for exp_details in exp.details %}                   
                        <li>{{exp_details}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}