{% assign references = site.data.data.references %}
{% if references %}
<section class="volunteering">
    <h2 class="title">REFERANSLAR</h2>
    {% for vol in references %}
        <div class="volunteering-item">
            <div class="role">{{vol.name}}</div>
            <div class="details">{{vol.role}}</div>  
            <div class="details">{{vol.email}}</div> 
            <div class="details">{{vol.number}}</div>   
        </div>
        
    {% endfor %}
</section>
{% endif %}