.career-profile {
    .title {
        @include header;
    }
    .details {
        @include body-text;
        p {
            margin-top: 0;
            margin-bottom: 0.1rem !important;
        }
    }
}