.experience {
    .title {
        @include header;
    }
    .experience-item {
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: bolder;
            }
            .title {
                float: left;
                color: var(--fg-color-title-sm);
                font-weight: bolder;
            }
        }
        .details {
            @include body-text;
            p {
                margin-top: 0;
                margin-bottom: 0.1rem;
            }
        }
        .technologies {
            @include body-text;
        }
    }
}